* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 550px;
    border-bottom: 10px solid lightblue;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
}

.buracoN {
    position:absolute;
    width: 80px;
    margin-right: -1%;
    bottom: 0;
    /* left: 105px; */
    animation: buracoN-animation 2.5s infinite linear;

}

.astro {
    position: absolute;
    margin-bottom:0.5px;
    margin-left: 70px;
    height: 120px;
    bottom:0;
    
}

.pulo {
    animation: pulo 800ms ease-out;
}

@keyframes buracoN-animation {
    from {
        right: -85px;
    }

    to {
        right: 100%
    }
}

@keyframes pulo {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }
 
    100% {
        bottom: 0;
    }
}